.h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    width: 336px;
    border: 1px solid #cccccc;    
}
.whitespace {
    background-color: #ffffff;
    padding: 20px; 
    visibility: hidden;
}
#about-me {
    background-color: #ffffff;
    color: #4aaaa5;
    padding: 20px;
    margin: 0px;
}
.divwidth {
    width: 960px;
    margin: 0px 260px;
}
p {
    padding: 20px;
    color: #777777;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

a {
    padding: 30px;
    background-color: #ffffff;
    color: #cccccc;
}
.topnav a {
    float: right;
    display: block;
    text-align: center;
}
.topnav a:hover {
    background-color: black;
    color: #ffffff;
}
.hr-1 {
    width: 920px;
    background-color: #666666;
}

.backgroundimage {
    background: url(/assets/images/light-grey-terrazzo/light-grey-terrazzo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.div-body {
    background-color: #ffffff;
}
.hr-2 {
    padding: 2px 20px 2px 20px;
    width: 100%;
    background-color: #4aaaa5;
    margin: 0px;
    border: 0px;
    position: fixed; bottom: 33.6px;
}
footer {
    padding: 20px 20px 0px 20px;
    text-align: center;
    background-color: #666666;
    width: 100%;
    margin: 0px;
    font-size: 12px;
    position: fixed; bottom: 0px;
}